<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lpuniv.minho.listenLec.dao.ListenLecDao">
    <select id="selectAllLitenLec" resultType="com.project.lpuniv.minho.listenLec.dto.LecInfoDto">
        select o.OCC_NO, o.teach_no , u.user_nm, o.OCC_title, o.OCC_content, o.OCC_date, o.OCC_ROT, o.OCC_teachInfo, o.OCC_kakao
        from occ o, user u
        where o.teach_no = u.user_no
    </select>
    <select id="listenLecList" resultType="com.project.lpuniv.minho.student.dto.LecDto">
        select c.stud_no as stud_no, o.occ_title as occ_title, c.stud_pg as stud_pg, c.stud_st as stud_st, c.occ_NO as occ_NO
        from class c, occ o
        where c.occ_no = o.occ_no and stud_no =#{stud_no}
    </select>
    <select id="selectLecList" resultType="com.project.lpuniv.minho.listenLec.dto.LecListDto">
        select * from ccim where occ_NO = #{occ_NO}
    </select>
    <select id="selectLecVideo" resultType="com.project.lpuniv.minho.listenLec.dto.LecVideoDto">
        select * from ccim where ccim_NO = #{ccim_NO} and occ_NO = #{occ_NO}
    </select>
    <select id="selectSchs" resultType="com.project.lpuniv.minho.listenLec.dto.SchsDto">
        select * from schs where stud_no = #{stud_no} and occ_NO = #{occ_NO} and ccim_NO = #{ccim_NO}
    </select>
    <insert id="insertSchs" parameterType="com.project.lpuniv.minho.listenLec.dto.SchsDto">
        insert into schs (schs_st_dt, schs_end_dt, schs_ocs, schs_fnpo, schs_endpo, stud_no, occ_NO, ccim_NO) values (now(), now(), 0, 0, 0, #{stud_no}, #{occ_NO}, #{ccim_NO})
    </insert>
    <select id="selectSchsPo" resultType="com.project.lpuniv.minho.listenLec.dto.SchsDto">
        select schs_end_dt, schs_fnpo, schs_endpo from schs where stud_no = #{stud_no} and occ_NO = #{occ_NO} and ccim_NO = #{ccim_NO}
    </select>
    <update id="updatePo">
        update schs set schs_end_dt = now(), schs_fnpo = #{schs_fnpo}, schs_endpo = #{schs_endpo} where stud_no = #{stud_no} and occ_NO = #{occ_NO} and ccim_NO = #{ccim_NO}
    </update>
    <update id="updateOcs">
        update schs set schs_ocs = 1 where stud_no = #{stud_no} and occ_NO = #{occ_NO} and ccim_NO = #{ccim_NO}
    </update>
    <select id="countCcimNo" resultType="Integer">
        select count(ccim_no) from ccim where occ_NO = #{occ_NO}
    </select>
    <select id="countSchsOcs" resultType="Integer">
        select count(schs_ocs) from schs where stud_no = #{stud_no} and occ_NO = #{occ_NO}
    </select>
    <update id="updateStudPg">
        update class set stud_pg = #{stud_pg} where stud_no = #{stud_no} and occ_NO = #{occ_NO}
    </update>
    <select id="selectOneClass">
        select * from class where stud_no = #{stud_no} and occ_NO = #{occ_NO}
    </select>
    <update id="updateStudSt">
        update class set stud_st = 1 where stud_no = #{stud_no} and occ_NO = #{occ_NO} and stud_pg = #{stud_pg}
    </update>
</mapper>
