<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lpuniv.minho.listenLec.dao.ListenLecDao">
    <select id="selectAllLitenLec" resultType="com.project.lpuniv.minho.listenLec.dto.LecInfoDto">
        select o.OCC_NO, o.teach_no , u.user_nm, o.OCC_title, o.OCC_content, o.OCC_date, o.OCC_ROT, o.OCC_teachInfo, o.OCC_kakao
        from occ o, user u
        where o.teach_no = u.user_no
    </select>
    <select id="selectLecList" resultType="com.project.lpuniv.minho.listenLec.dto.LecListDto">
        select * from ccim where OCC_NO = #{OCC_NO}
    </select>
    <select id="selectLecVideo" resultType="com.project.lpuniv.minho.listenLec.dto.LecVideoDto">
        select CCIM_videoID from ccim where CCIM_NO = #{CCIM_NO} and OCC_NO = #{OCC_NO}
    </select>
    <select id="selectSchs" resultType="com.project.lpuniv.minho.listenLec.dto.SchsDto">
        select * from schs where stud_no = #{stud_no}
    </select>
    <insert id="insertSchs" parameterType="com.project.lpuniv.minho.listenLec.dto.SchsDto">
        insert into schs (schs_st_dt, schs_end_dt, shcs_ocs, schs_fnpo, schs_endpo, stud_no, OCC_NO, CCIM_NO)
        values (now(), now(), 0, 0, 0, #{stud_no}, #{OCC_NO}, #{CCIM_NO})
    </insert>
</mapper>
