<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드 및 삭제</title>
    <link rel="stylesheet" href="/dayoung/css/customBtn.css">
    <link rel="stylesheet" href="/dayoung/css/fileStyle.css" type="text/css">
</head>
<body>

<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">

    <th:block th:fragment="content">
<form action="/dayoung/addStudent" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" class="file">
    <div class="file">
        <strong>학생 정보 등록</strong></div>

    <div id="file-drop-area">
        <h3>파일을 드래그 앤 드랍하세요.</h3>
        <p>또는 아래 버튼을 클릭하여 파일을 선택하세요.</p>
        <input type="file" id="file" name="file" accept=".xlsx, .xls" style="display: none;">
        <button type="button" onclick="openFileExplorer()">파일 선택</button>
        <ul id="selected-file-list"></ul>
    </div>
    <div class="yam">
    <button type="submit" class="w-btn">등록</button>
    </div>
</form>
<script src="/dayoung/js/fileCheck.js"></script>
    </th:block>
</th:block>

</body>
</html>