<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<a th:href="@{/dayoung/addStudent}" class ="button">학생 등록 </a>
<a th:href="@{/dayoung/addUser}" class ="button">개별 등록 </a>
<a th:href="@{/dayoung/list}" class ="button"> 정보 확인/수정</a>
<a href="/stuLec/stuList" class ="button">학생 강의 등록</a>
<a href="/logout">로그아웃</a>


<form action="/dayoung/addStudent" method="post" enctype="multipart/form-data">
    <label for="file">학생 정보 등록:</label>
    <input type="file" id="file" name="file" accept=".xlsx, .xls">
    <button type="submit">등록</button>
</form>
-학생정보수정
-강사 및 학생 메뉴 접속 및 수정
-게시판 연동

<nav>
    <ul>
        <li><a href="/boards/free/posts">자유게시판</a></li>
        <li><a href="/boards/faq/posts">FAQ등록</a></li>
        <li><a href="/boards/qa/posts">Q&A</a></li>
    </ul>
</nav>

<button type="button" class="modal-btn" data-toggle="modal" data-target="#myModal">
    쪽지
</button><span id="msg-cnt" th:text="${msgCnt}"></span> <!-- 안 읽은 메시지 수 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">쪽지함</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
                <button class="close-modal-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 외부 HTML 파일을 불러올 영역 -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/dayoung/js/fileCheck.js"></script>
<!--코드 순서 바꿈-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/heechan/js/modal.js"></script>




</body>
</html>