<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
학생 페이지
<a href="#" class ="button">마이페이지 </a>
<a href="/listenLec/lecInfo" class ="button">강의 정보 </a>
<a href="#" class ="button">진도율 확인 </a>

<nav>
    <ul>
        <li><a href="/boards/free/posts">자유게시판</a></li>
        <li><a href="/boards/faq/posts">FAQ</a></li>
        <li><a href="/boards/qa/posts">Q&A</a></li>
    </ul>
</nav>
<a href="#" class ="button">공지 게시판 </a>

</body>
</html>