<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>받은메시지</title>
    <link rel="stylesheet" href="/heechan/css/msgView.css">
</head>
<body>
받은메시지 : <span id="msgCount" th:text="${msgCount}"></span> 건 | 안 읽은 메시지 : <span id="msg-cnt" th:text="${msgCnt}" style="color: red"></span> 건
    <span id="search">
        <select id="searchOp">
            <option value="전체">전체</option>
            <option value="발신자">발신자</option>
            <option value="수신자">수신자</option>
            <option value="제목">제목</option>
        </select>
        <input type="text" id="searchInput" placeholder="검색어 입력">
        <button onclick="searchMsg('rec')">검색</button>
    </span>
    <br/>
    <div id="buttonContainer">
        <button onclick="changePage('/message/recmsg')">받은메시지</button>
        <button onclick="changePage('/message/senmsg')">보낸메시지</button>
        <button onclick="changePage('/message/recycle')">휴지통</button>
        <button onclick="changePage('/message/writeform')">메시지보내기</button>
    </div>
    <div class="title-message-container">
        <span class="title-sen">발신자</span>
        <span class="title-rec">수신자</span>
        <span class="title-title">제목</span>
        <span class="title-date">날짜</span>
        <span class="title-del">삭제</span>
    </div>
    <th:block th:if="${msgPage == null or msgPage.content.isEmpty()}">
        <div class="message-container">
            받은 메시지가 없습니다.
        </div>
    </th:block>
    <th:block th:each="message : ${msgPage.content}">
        <th:block th:if="${message.recDel == 0}">
            <div class="message-container">
                <span class="message-status" th:if="${message.readFlag == 0}">안읽음</span>
                <span class="message-status" th:unless="${message.readFlag == 0}">읽음</span>
                <span class="message-sen" th:text="${message.senderNm}"></span>
                <span class="message-rec" th:text="${message.receiverNm}"></span>
                <span class="message-span" th:if="${searchInput == null && searchOp  == null && div == null}">
                    <span class="message-title" th:attr="onclick='changePage(\'' + @{'/message/msgview?msgNo=' + ${message.msgNo} + '&pageNo=' + ${pageNo}} + '\')'" style="cursor: pointer" th:text="${message.title}"></span>
                    <span class="message-date" th:text="${#temporals.format(message.sentAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span class="delete-button" th:attr="onclick='recDelMsg(\''+ ${message.msgNo} + '\')'" style="cursor: pointer">삭제</span><br/>
                </span>
                <span class="message-span" th:if="${searchInput != null && searchOp  != null && div != null}">
                    <span class="message-title" th:attr="onclick='changePage(\'' + @{'/message/msgview?msgNo=' + ${message.msgNo} + '&pageNo=' + ${pageNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer" th:text="${message.title}"></span>
                    <span class="message-date" th:text="${#temporals.format(message.sentAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span class="delete-button" th:attr="onclick='recDelSearchMsg(\''+ ${message.msgNo} + '\', \'' + ${pageNo} + '\', \'' + ${searchInput} + '\', \'' + ${searchOp} + '\', \'' + ${div} + '\')'" style="cursor: pointer">삭제</span><br/>
                </span>
            </div>
        </th:block>
    </th:block>

    <span class="pagination-container" th:if="${msgPage.hasArticles()}">
        <span th:if="${searchInput == null && searchOp  == null && div == null}">
            <th:block th:if="${msgPage.currentPage > 1}">
                <span class="pagination-button" th:attr="onclick='changePage(\'' + @{/message/recmsg(pageNo=${msgPage.currentPage - 1})} + '\')'" style="cursor: pointer">이전</span>
            </th:block>
            <th:block th:each="pNo : ${#numbers.sequence(msgPage.startPage, msgPage.endPage)}">
                <span class="pagination-button" th:attr="onclick='changePage(\'' + @{/message/recmsg(pageNo=${pNo})} + '\')'" style="cursor: pointer" th:text="${pNo}"></span>
            </th:block>
            <th:block th:if="${msgPage.currentPage < msgPage.totalPages}">
                <span class="pagination-button" th:attr="onclick='changePage(\'' + @{/message/recmsg(pageNo=${msgPage.currentPage + 1})} + '\')'" style="cursor: pointer">다음</span>
            </th:block>
        </span>
        <span th:if="${searchInput != null && searchOp  != null && div != null}">
            <th:block th:if="${msgPage.currentPage > 1}">
                <span class="pagination-button" th:attr="onclick='changePage(\'' + @{'/message/recmsg?pageNo=' + ${msgPage.currentPage - 1} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer">이전</span>
            </th:block>
            <th:block th:each="pNo : ${#numbers.sequence(msgPage.startPage, msgPage.endPage)}">
                <span class="pagination-button" th:attr="onclick='changePage(\'' + @{'/message/recmsg?pageNo=' + ${pNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer" th:text="${pNo}"></span>
            </th:block>
            <th:block th:if="${msgPage.currentPage < msgPage.totalPages}">
                <span class="pagination-button" th:attr="onclick='changePage(\'' + @{'/message/recmsg?pageNo=' + ${msgPage.currentPage + 1} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer">다음</span>
            </th:block>
        </span>
    </span>
</body>
</html>