<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>보낸메시지</title>
</head>
<body>
    <span>
        <select id="searchOp">
            <option value="전체">전체</option>
            <option value="발신자">발신자</option>
            <option value="수신자">수신자</option>
            <option value="제목">제목</option>
        </select>
        <input type="text" id="searchInput" placeholder="검색어 입력">
        <button onclick="searchMsg('sen')">검색</button>
    </span><br/>
    <button onclick="changePage('/message/recmsg')">받은메시지</button>
    <button onclick="changePage('/message/senmsg')">보낸메시지</button>
    <button onclick="changePage('/message/recycle')">휴지통</button>
    <button onclick="changePage('/message/writeform')">메시지보내기</button><br/>
    보낸메시지 : <span th:text="${msgCount}"></span> 건 <br/>
    <th:block th:if="${msgPage == null or msgPage.content.isEmpty()}">
        보낸 메시지가 없습니다.
    </th:block>
    <th:block th:each="message : ${msgPage.content}">
        <th:block th:if="${message.senDel == 0}">
            <div>
                <span th:if="${message.readFlag == 0}">
                    <span>안읽음</span>
                </span>
                <span th:unless="${message.readFlag == 0}">
                    <span>읽음</span>
                </span>
                발신자 : <span th:text="${message.senderNm}"></span>
                수신자 : <span th:text="${message.receiverNm}"></span>
                <span th:if="${searchInput == null && searchOp  == null && div == null}">
                    제목 : <span th:attr="onclick='changePage(\'' + @{'/message/msgview?msgNo=' + ${message.msgNo} + '&pageNo=' + ${pageNo}} + '\')'" style="cursor: pointer" th:text="${message.title}"></span>
                    <span th:text="${#dates.format(message.sentAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span th:attr="onclick='senDelMsg(\''+ ${message.msgNo} + '\')'" style="cursor: pointer">삭제</span><br/>
                </span>
                <span th:if="${searchInput != null && searchOp  != null && div != null}">
                    제목 : <span th:attr="onclick='changePage(\'' + @{'/message/msgview?msgNo=' + ${message.msgNo} + '&pageNo=' + ${pageNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer" th:text="${message.title}"></span>
                    <span th:text="${#dates.format(message.sentAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <span th:attr="onclick='senDelSearchMsg(\''+ ${message.msgNo} + '\', \'' + ${pageNo} + '\', \'' + ${searchInput} + '\', \'' + ${searchOp} + '\', \'' + ${div} + '\')'" style="cursor: pointer">삭제</span><br/>
                </span>
            </div>
        </th:block>
    </th:block>

    <span th:if="${msgPage.hasArticles()}">
        <span th:if="${searchInput == null && searchOp  == null && div == null}">
            <th:block th:if="${msgPage.currentPage > 1}">
            <span th:attr="onclick='changePage(\'' + @{/message/senmsg(pageNo=${msgPage.currentPage - 1})} + '\')'" style="cursor: pointer">이전</span>
            </th:block>
            <th:block th:each="pNo : ${#numbers.sequence(msgPage.startPage, msgPage.endPage)}">
                <span th:attr="onclick='changePage(\'' + @{/message/senmsg(pageNo=${pNo})} + '\')'" style="cursor: pointer" th:text="${pNo}"></span>
            </th:block>
            <th:block th:if="${msgPage.currentPage < msgPage.totalPages}">
                <span th:attr="onclick='changePage(\'' + @{/message/senmsg(pageNo=${msgPage.currentPage + 1})} + '\')'" style="cursor: pointer">다음</span>
            </th:block>
        </span>
        <span th:if="${searchInput != null && searchOp  != null && div != null}">
            <th:block th:if="${msgPage.currentPage > 1}">
                <span th:attr="onclick='changePage(\'' + @{'/message/senmsg?pageNo=' + ${msgPage.currentPage - 1} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer">이전</span>
            </th:block>
            <th:block th:each="pNo : ${#numbers.sequence(msgPage.startPage, msgPage.endPage)}">
                <span th:attr="onclick='changePage(\'' + @{'/message/senmsg?pageNo=' + ${pNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer" th:text="${pNo}"></span>
            </th:block>
            <th:block th:if="${msgPage.currentPage < msgPage.totalPages}">
                <span th:attr="onclick='changePage(\'' + @{'/message/senmsg?pageNo=' + ${msgPage.currentPage + 1} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'" style="cursor: pointer">다음</span>
            </th:block>
        </span>
    </span>
</body>
</html>