<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학생 리스트</title>
    <link rel="stylesheet" href="/minho/css/selectStu.css">
    <!-- include SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="board_wrap">
            <div class="board_wrap_head">
                <h1 class="board_title">학생 강의 등록</h1>
            </div>
            <div class="board_wrap_content">
                <div class="board_list_stu">
                    <h2>학생 리스트</h2>
                    <div>
                        <label for="board_wrap_search_box"><strong>검색</strong></label>
                        <input type="search" id="board_wrap_search_box" placeholder="이름과 전화번호로 검색하세요">
                    </div>
                    <div class="board_list_stu_table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>선택</th>
                                <th>학생 이름</th>
                                <th>학생 전화번호</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="userDtos : ${userDtos}">
                                <td><label>
                                    <input type="checkbox" name="stud_no" th:value="${userDtos.user_no}">
                                </label></td>
                                <td th:name="studNm" th:value="${userDtos.user_no}">[[${userDtos.user_nm}]]</td>
                                <td th:text="${userDtos.user_tel}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="board_list_lec">
                    <h2>강사 리스트</h2>
                    <div>
                        <label for="board_wrap_search_box2"><strong>검색</strong></label>
                        <input type="search" id="board_wrap_search_box2" placeholder="이름과 제목으로 검색하세요">
                    </div>
                    <div class="board_list_stu_table2">
                        <table id="table2">
                            <thead>
                            <tr>
                                <th>선택</th>
                                <th>강사 이름</th>
                                <th>강의 제목</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="lecDtos : ${lecDtos}">
                                <td><label>
                                    <input type="checkbox" name="occ_NO" th:value="${lecDtos.occ_NO}">
                                </label></td>
                                <td id="teaNm" th:text="${lecDtos.user_nm}"></td>
                                <td th:value="${lecDtos.occ_NO}">[[${lecDtos.occ_title}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="upload_lec_stu_list">
                <button type="button" onclick="sendData()">수강 등록</button>
            </div>
        </section>
        <script src="/minho/js/uploadStu.js"></script>
        <script src="/minho/js/searchSelStu.js"></script>
        <script src="/minho/js/searchLec.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </th:block>
</th:block>
</body>
</html>