<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- 이 파일은 모달 창에 표시될 HTML 내용입니다. -->
<div class="modal-content" id="modalContainer">
    <div class="modal-header" id="myModal">
        <h5 class="modal-title" id="amcDetailsModalLabel">Amc 상세 정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- 여기에 Amc 상세 정보를 표시하는 내용을 추가 -->
        <p>AMC 번호: ${amfiDto.amc_no}</p>
        <p>AMC 제목: ${amfiDto.amfi_name}</p>

        <!-- 필요한 정보를 Thymeleaf 변수를 통해 동적으로 추가 -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
    </div>
</div>
</body>
</html>