<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8">
        <title>Myself</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/layout/layout.css">
        <link rel="stylesheet" type="text/css" href="/layout/styles.css">
        <link rel="stylesheet" type="text/css" href="/layout/loginInfo.css">
    </head>
    <body id="body-pd">
    <div class="page" th:with="userTp=${#httpServletRequest.getSession().getAttribute('authInfo')?.user_no}">

        <header>
            <a href="/"><h2>Lo-Pie Academy</h2></a>

            <div class="loginInfo">

                <div class="row profile">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="https://gravatar.com/avatar/31b64e4876d603ce78e04102c67d6144?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"
                                 class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name" id="profile-usertitle-name">

                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Message</button>
                            <button type="button" class="btn btn-danger btn-sm" id="logoutButton">Logout</button>
                        </div>
                        <!--    message 모달-->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">메시지함</h5>
                                        <button type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="modalContent">
                                        <!-- 외부 HTML 파일을 불러올 영역 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    message 모달-->
                        <!-- END SIDEBAR BUTTONS -->
                    </div>
                </div>

            </div>


        </header>
    </div>
    <div class="big_nav" id="navbar">
        <nav class="small_nav">
            <div th:with="userTp=${#httpServletRequest.getSession().getAttribute('authInfo')?.user_tp}">

                <div class="small_nav_brand">
                    <ion-icon name="menu-outline" class="small_nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="small_nav__logo">Bedimcode</a>
                </div>

                <div class="small_nav__list" th:if="${userTp == 1}">

                    <a href="/listenLec/lecInfo" class="small_nav__link">
                        <ion-icon name="library-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">강의 정보</span>
                    </a>

                    <a href="/dayoung/userInfo" class="small_nav__link">
                        <ion-icon name="person-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">마이페이지 </span>
                    </a>
                </div>

                <div class="small_nav__list" th:if="${userTp == 2}">
                    <a href="/occ" class="small_nav__link actives">
                        <ion-icon name="library-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">강의 목록 / 관리</span>
                    </a>
                    <a href="#" class="small_nav__link">
                        <ion-icon name="people-circle-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">수강자 조회</span>
                    </a>
                    <a href="/dayoung/userInfo" class="small_nav__link">
                        <ion-icon name="person-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">마이페이지</span>
                    </a>
                </div>

                <div class="small_nav__list" th:if="${userTp == 3}">
                    <a href="/dayoung/addStudent" class="small_nav__link actives">
                        <ion-icon name="person-add-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">학생 등록</span>
                    </a>
                    <a href="/dayoung/addUser" class="small_nav__link">
                        <ion-icon name="person-add-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">개별 등록</span>
                    </a>

                    <a href="/stuLec/stuList" class="small_nav__link">
                        <ion-icon name="reader-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">학생 강의 등록</span>
                    </a>

                    <a href="/dayoung/list" class="small_nav__link">
                        <ion-icon name="person-remove-outline" class="small_nav__icon"></ion-icon>
                        <span class="small_nav_name">사용자 수정 및 삭제</span>
                    </a>
                </div>

                <a href="/boards/free/posts" class="small_nav__link">
                    <ion-icon name="reader-outline" class="small_nav__icon"></ion-icon>
                    <span class="small_nav_name">자유게시판</span>
                </a>
                <a href="/boards/faq/posts" class="small_nav__link">
                    <ion-icon name="help-circle-outline" class="small_nav__icon"></ion-icon>
                    <span class="small_nav_name">FAQ등록</span>
                </a>
                <a href="/boards/qa/posts" class="small_nav__link">
                    <ion-icon name="help-outline" class="small_nav__icon"></ion-icon>
                    <span class="small_nav_name">Q&A</span>
                </a>
                <a href="/logout" class="small_nav__link">
                    <ion-icon name="log-out-outline" class="small_nav__icon"></ion-icon>
                    <span class="small_nav_name">Log out</span>
                </a>
            </div>
        </nav>
    </div>
    <div id="contentBig">
        <th:block th:replace="${content}"></th:block>
    </div>
    <!-- IONICONS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/heechan/js/modal.js"></script>

    <script src="/layout/main.js"></script>
    <script src="/layout/loginInfo.js"></script>


    </body>
</th:block>
</html>