<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.3.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-2E9/b2fZ+VJoP6eRIpzzMFkuqbh0qDkIFVLzJJwkESsdKPEwzb0n6E55enZ+Ee8V" crossorigin="anonymous">
</head>
<body>
<div class="header"><strong>강의 목록</strong> <br></div>
<div class="cards" style="justify-content: center; align-content: center; display: flex;">
<div th:each="card : ${listPage.occDtos}" class="card" style="width: 18rem;">
<!--    <img src="..." class="card-img-top" alt="..." style="color: #4f34c6;">-->
    <div class="card-header" style="background-color: #4f34c6; height: 5rem;"></div>
    <div class="card-body">
        <h5 class="card-title" th:text="${card.occ_title}">Card title</h5>
        <p class="card-text" > 해당 강의 "[[${card.occ_title}]]" 관리</p>
        <a th:href="@{'/ccim?occ_NO=' + ${card.occ_NO}}" class="btn btn-primary">챕터 관리</a>
        <a th:href="@{'/occ/occ_modify?occ_NO=' + ${card.occ_NO}}" class="btn btn-primary">강의 수정</a>
        <hr>
        <p class="card-text" th:text="'등록 일시: '+ ${#dates.format(card.occ_date, 'yyyy-MM-dd HH:mm:ss')}"> 등록 일시 : </p>
    </div>
</div>
</div>
<nav aria-label="Page navigation example">
<div class="board-list-page" th:if="${listPage.hasOccDtos()}">
    <ul class="pagination" style="justify-content: center; text-align: center;">
        <li class="page-item">
            <li class="page-item" th:if="${listPage.currentPage > 1}">
                <a class="page-link" aria-label="<<" th:href="@{'/occ?pageNo=' + ${listPage.currentPage - 1}}">&laquo;</a>
            </li>
            <span th:each="pNo : ${#numbers.sequence(listPage.startPage, listPage.endPage)}">
                <span th:if="${pNo == listPage.currentPage}">
                    <li class="page-item">
                        <a style="font-weight: bold" class="page-link" aria-current="page" th:text="${pNo}">[[${pNo}]]</a>
                    </li>
                </span>
                <span  th:unless="${pNo == listPage.currentPage}">
                    <li class="page-item">
                        <a class="page-link" th:aria-label="${pNo}" th:text="${pNo}" th:href="@{'/occ?pageNo=' + ${pNo}}">[[${pNO}]]</a>
                    </li>
                </span>
            </span>
            <span th:if="${listPage.currentPage < listPage.totalPages}">
                <a class="page-link" th:href="@{'/occ?pageNo=' + ${listPage.currentPage + 1}}">&raquo;</a>
            </span>

    </ul>
</div>
</nav>
<div class="footer">
    <a class="effect effect-1" th:href="@{'/occ/occ_insert'}">새로운 강의 등록</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.3.0/dist/js/coreui.min.js" integrity="sha384-Ccu4pXX7m9x5nOmnhLGyxq3pqYWoc67qHmnJwC20bxJvdziB6gZtOAb9BLN5bOOb" crossorigin="anonymous"></script>
</body>
</html>