<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수강 페이지</title>
</head>
<body>
<div class="board_wrap">
    <div class="board_list" th:each="dto: ${dto}">
        <div class="board_list_lecInfo">
            <h1 class="board_title">[[${dto.OCC_title}]]</h1>
            <a th:href="@{'/minho/lecList?OCC_NO=' + ${dto.OCC_NO}}">수강하러 가기</a>
        </div>
        <table>
            <tr>
                <th>강사 성함</th>
                <th>강의 제목</th>
                <th>강의 소개</th>
                <th>강사 소개</th>
                <th>수강 날짜</th>
                <th>카카오톡 오픈 코드</th>
            </tr>
            <tr >
                <td th:text="${dto.user_nm}"></td>
                <td th:text="${dto.OCC_title}"></td>
                <td th:text="${dto.OCC_content}"></td>
                <td th:text="${dto.OCC_teachInfo}"></td>
                <td th:text="${dto.OCC_date}"></td>
                <td th:text="${dto.OCC_kakao}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>