.board_wrap {
    width: 100%; /* 원하는 폭 설정 */
}

.board_wrap_head {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-bottom: 20px;
}

.board_list_stu_table {
    height: 350px;
    overflow: auto;
    margin-bottom: 20px; /* 아래쪽 간격 */
}

.goBackBtn {
    padding: 10px 20px;
    background-color:#E2E2E2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.goBackBtn:hover {
    color:#fff;
    box-shadow: 0 80px 0 0  rgba(0,0,0,0.25) inset,
    0 -80px 0 0 rgba(0,0,0,0.25) inset;
}

input[type="search"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; /* 회색 테두리 */
    box-sizing: border-box;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.board_list_stu_table_tbody:hover {
    color:#fff;
    box-shadow: 0 80px 0 0  rgba(0,0,0,0.25) inset,
    0 -80px 0 0 rgba(0,0,0,0.25) inset;
}

.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 체크박스 정렬 */
.table input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}