<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lpuniv.minho.student.dao.LecDao">
    <select id="selectAllLec" resultType="com.project.lpuniv.minho.student.dto.LecDto">
        SELECT * FROM class
    </select>
    <select id="selectAllLecPage" resultType="com.project.lpuniv.minho.student.dto.LecDto">
        SELECT * FROM class where OCC_NO = #{OCC_NO}
        limit #{startRow}, #{size}
    </select>
    <select id="countLecPage" resultType="Integer">
        select count(*) from class where OCC_NO = #{OCC_NO}
    </select>
    <update id="modifyStudSt">
        update class
        set stud_st = '수료'
        where stud_pg = #{stud_pg}
    </update>
</mapper>
