<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
    <link rel="stylesheet" href="/juchan/css/editor.css">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>
<body>

<div class="insert_wrap">
    <form id="insert_form" action="/ccim/ccim_modify" method="post">
        <div>

            <div class="user_name">
                <img class="user_image" src="" alt="userIcon">

                <!--              <span th:text="${authInfo.emp_name}"></span><span th:text="'( '+${authInfo.dept_name}+'팀 )'"></span> <br>-->
                <span> 게시글을 작성 중입니다...</span>

            </div>
            <hr>
            <div class="ccim_title">
                <strong>챕터명 </strong>100글자 제한
                <br>
                <label>
                    <input type="text" name="ccim_title" maxlength="100" th:value="${ccimdto.ccim_title}" required>
                </label>

            </div>
            <hr>
            <div class="hidden_data">

                <input type="hidden"  name="ccim_NO" style="width:400px;" th:value="${ccimdto.ccim_NO}"  readonly>
                <input type="hidden" name="occ_NO" th:value="${ccimdto.occ_NO}">


            </div>

            <div class="ccim_content">
                <label for="editor">강의 내용</label><textarea name="ccim_content" id="editor">[[${ccimdto.ccim_content}]]</textarea>
                <br>
                <hr>

            </div>

            <div class="ccim_videoID">
                해당 챕터 영상 ID
                <label>
                    <input type="text" name="ccim_videoID" min="0" th:value="${ccimdto.ccim_videoID}" required>
                </label>
                <img class="videoIDex" src="/juchan/image/videoIDex.png" alt="videoID 예시" ondragstart="return false;" oncontextmenu="return false;">
            </div>

            <hr>

            <div class="ccim_rt">
                해당 챕터 영상 시간(대략 예상 총 시간) <label>
                <input type="text" name="ccim_rt" value="00:00:00" th:value="${ccimdto.ccim_rt}" required>
            </label>
            </div>

            <div class="submit">
                <div class="button-effect">
                    <input type="submit" value="업로드"/>
                </div>
            </div>
        </div>

    </form>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script src="/juchan/js/editor.js"></script>
</body>

</html>