<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lpuniv.junhyuk.dao.PostDao">

    <select id="getAllPosts" resultType="com.project.lpuniv.junhyuk.dto.Post">
        select * from post
    </select>


    <select id="getAllPostsByBoard" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT * FROM post WHERE board_no = #{board_no}
    </select>

    <select id="getLastPostNumByBoard" resultType="int" parameterType="int">
        SELECT COALESCE(MAX(num), 0) FROM post WHERE board_no = #{board_no}
    </select>


    <insert id="createPost" parameterType="com.project.lpuniv.junhyuk.dto.Post" useGeneratedKeys="true" keyProperty="post_no" >
        INSERT INTO post (board_no, num, title, content, user_no)
        VALUES (#{board_no}, #{num}, #{title}, #{content}, #{user_no})
    </insert>



    <select id="findByPostNo" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT p.*, u.user_nm AS authorName
        FROM post p
                 JOIN user u ON p.user_no = u.user_no
        WHERE p.post_no = #{post_no}

    </select>

    <update id="updatePost" parameterType="com.project.lpuniv.junhyuk.dto.Post">
        UPDATE post SET title = #{title}, content = #{content}
        WHERE post_no = #{post_no} AND user_no = #{user_no}
    </update>

    <delete id="deletePost" parameterType="int">
        DELETE FROM post WHERE post_no = #{post_no} AND user_no = #{user_no}
    </delete>


    <!--검색쿼리-->
    <select id="searchPosts" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT p.*, u.user_nm as authorName
        FROM post p
        JOIN user u ON p.user_no = u.user_no
        WHERE board_no = #{board_no}
        <choose>
            <when test="searchType == 'title'">
                AND title LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'content'">
                AND content LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'author'">
                AND u.user_nm LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'all'">
                AND (title LIKE CONCAT('%', #{searchTerm}, '%') OR content LIKE CONCAT('%', #{searchTerm}, '%')OR u.user_nm LIKE CONCAT('%', #{searchTerm}, '%'))
            </when>
            <otherwise>
                AND title LIKE CONCAT('%', #{searchTerm}, '%')
            </otherwise>
        </choose>
        ORDER BY post_no DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!--검색 결과 총 개수 계산-->
    <select id="countSearchPosts" resultType="int">
        SELECT COUNT(*)
        FROM post p
        JOIN user u ON p.user_no = u.user_no
        WHERE p.board_no = #{board_no}
        <choose>
            <when test="searchType == 'title'">
                AND p.title LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'content'">
                AND p.content LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'author'">
                AND u.user_nm LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'all'">
                AND (p.title LIKE CONCAT('%', #{searchTerm}, '%') OR p.content LIKE CONCAT('%', #{searchTerm}, '%') OR u.user_nm LIKE CONCAT('%', #{searchTerm}, '%'))
            </when>
            <otherwise>
                AND p.title LIKE CONCAT('%', #{searchTerm}, '%')
            </otherwise>
        </choose>
    </select>






    <select id="getAllPostsByBoardWithPaging" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT p.*, u.user_nm as authorName
        FROM post p
                 JOIN user u ON p.user_no = u.user_no
        WHERE p.board_no = #{board_no}
        ORDER BY p.post_no DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countPosts" resultType="int">
        SELECT COUNT(*) FROM post
        WHERE board_no = #{board_no}
    </select>

    <update id="PostHits">
        UPDATE  post SET hits = hits + 1 WHERE post_no = #{post_no}
    </update>

    <!--댓글 수-->
    <select id="selectPostsWithCommentCount" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT p.*,
               (SELECT COUNT(*) FROM comments c WHERE c.post_no = p.post_no) as commentCount
        FROM post p
        WHERE p.board_no = #{board_no}
        ORDER BY p.date_created DESC
    </select>


    <select id="searchPostsWithComments" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT p.*,
        (SELECT COUNT(*) FROM comments c WHERE c.post_no = p.post_no) as commentCount,
        u.user_nm as authorName
        FROM post p
        JOIN user u ON p.user_no = u.user_no
        WHERE p.board_no = #{board_no}
        <choose>
            <when test="searchType == 'title'">
                AND p.title LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'content'">
                AND p.content LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'author'">
                AND u.user_nm LIKE CONCAT('%', #{searchTerm}, '%')
            </when>
            <when test="searchType == 'all'">
                AND (p.title LIKE CONCAT('%', #{searchTerm}, '%') OR p.content LIKE CONCAT('%', #{searchTerm}, '%') OR u.user_nm LIKE CONCAT('%', #{searchTerm}, '%'))
            </when>
            <otherwise>
                AND p.title LIKE CONCAT('%', #{searchTerm}, '%')
            </otherwise>
        </choose>
        ORDER BY p.post_no DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getAllPostsWithCommentsByBoardWithPaging" resultType="com.project.lpuniv.junhyuk.dto.Post">
        SELECT p.*,
               u.user_nm as authorName,
               (SELECT COUNT(*) FROM comments c WHERE c.post_no = p.post_no) as commentCount
        FROM post p
                 JOIN user u ON p.user_no = u.user_no
        WHERE p.board_no = #{board_no}
        ORDER BY p.date_created DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>




</mapper>
