.modal {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 70%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    top: 10%;
    left: 15%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.close {
    color: white;
    background-color: #12192c;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.modal-body {
    overflow-y: auto;
}